<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">ICON</a>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <a href="/explore">Explore</a>  <br><br>
  <a href="/profile">Profile</a>  <br><br>
<form class="" action="/home" method="POST">
  <input type="text" name="userPost" value="" placeholder="What's happening?"> <button type="submit" name="button">Post</button>
</form>


<!-- <h4> <%= post %> </h4> -->


  </body>
</html>
